===== Error Code Fields
|===
| Code | 설명 및 메시지 | Http 상태 코드

{{#fields}}
|{{#tableCellContent}}{{businessExceptionCode}}{{/tableCellContent}}
|{{#tableCellContent}}{{message}}{{/tableCellContent}}
|{{#tableCellContent}}{{statusCode}}{{/tableCellContent}}
{{/fields}}
|===